* {
	margin: 0;
	padding: 0;
	line-height: 1.4;
}
body{
    font-family: Arial, Tahoma;
    font-size: 14px;
}
.clear{
	clear: both;
}
.content{
	width: 1200px;
	height: 100%;
	margin: auto;
}
.min-width{
	min-width: 1200px;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.lineTier3left{
	margin-top: 22px;
	padding-right: 20px;
}
a.tier3left{
	padding-bottom: 15px;
	font-size: 16px;
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: underline;
	color: #f00;
}
a:active{
	color: #36f;
}
p.p3left{
	margin: 5px 0px;
}
div.imgtier3{
	margin-right: 10px;
}
div.box{
	margin-left: 20px;
	margin-top: 150px;
}

p.pbox301{
	font-size: 22px;
	color: #ffffff;
	margin-bottom: 5px;
}
a.abox301{
	margin-top: 15px;
	color: #ee7f00;
	border: 1px solid #ee7f00;
	text-decoration: none;
}