div#topmost{
	height: 30px;
	background-image: url(../img/topmost.jpg);
}
div#menuTop{
	height: 100px;
	background-color: #ffffff;
}
div#poster{
	position: relative;
	height: 360px;
	background-image: url(../img/poster.jpg);
	padding: 20px 0px;
}

div#containpt{
	width: 100%;
	height: 340px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
	border:10px solid #06c;
	background-image: url(../img/banner1.jpg);
	background-position: center;
	background-size: cover;
}
div#postercontent{
	position: absolute;
	bottom: 100px;
	background-image: url(../img/background1.jpg);
	width: 320px;
	height: 70px;
	padding: 15px 10px 15px 20px;	
}

div#tier1{
	padding: 40px 0px 0px 0px;
}
div#tier1left{
	width: 550px;
	height: 100%;
	float: left;
}
p#p01{
	text-align: justify;
	line-height: 1.8;
	margin: 20px 0px 15px 0px;
}
div#tier1right{
	height: 100%;
	float: right;
	background-size: cover;
	background-repeat: no-repeat;
}
div#tier2{
	height: 300px;
	background-image: url(../img/background2.jpg);
}
div#tier201{
	height: 100%;
	width: 202.5px;
	float: right;
	background-image: url(../img/background5.jpg);
	background-repeat: no-repeat;
}

div#tier202{
	height: 100%;
	width: 219.375px;
	float: right;
	background-image: url(../img/background4.jpg);
	background-repeat: no-repeat;
}
div#tier203{
	height: 100%;
	width: 506.25px;
	float: right;
	background-image: url(../img/background3.jpg);
	background-repeat: no-repeat;

}

div#tier204{
	height: 100%;
	float: left;
}
div#box4{
	text-align: left;
	margin-top:25px;
	padding-left: 10px;
	padding-top: 100px;
	height: 150px;
	width: 250px;
	background-color: #ffffff;
}


div#tier3{
	margin-top: 25px;
}
div#tier3left{
	float: left;

	width: 50%;
}
div#tier3right{
	float: right;
	width: 50%;
}
div#aboveft{
	margin-top: 50px;
	height: 100px;
}
div#footer{
	margin-top: 20px;
	height: 232px;
	background-image: url(../img/backgroundft.jpg);
	background-repeat: repeat-x;
}